{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block page_title %}
    Contact
{% endblock %}

{% block content %}
<div class="row">
    <div class="four columns">
        <h2 class="center">Bernard et Muriel Huguet</h2>
        <p class="center">
            <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/bernard_muriel.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p>
                <strong>Adresse:</strong>
                31 rue Saint Hilaire,
                51240 Le Fresne<br />
                <strong>Téléphone:</strong> 03 26 67 92 56<br>
                <strong>E-mail:</strong> huguetbernard@hotmail.fr
            </p>
        </div>
    </div>
    <div class="four columns">
        <h2 class="center">Frank Huguet et Claire Dacquin</h2>
        <p class="center">
            <img class="low-height" src="{{ asset('bundles/shadowwedding/images/Couple.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p>
                <strong>Adresse:</strong>
                20 rue Tristan Bernard,
                78340 Les Clayes sous Bois<br />
                <strong>Téléphone:</strong> 06 30 23 16 21<br>
                <strong>E-mail:</strong> frank.huguet@gadz.org
            </p>
        </div>
    </div>
    <div class="four columns">
        <h2 class="center">Patrick et Françoise Dacquin</h2>
        <p class="center">
            <img class="low-height" src="{{ asset('bundles/shadowwedding/images/thanks/patrick_francoise.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p>
                <strong>Adresse:</strong>
                18 rue Daniel Capitaine,
                60150 Le Plessis Brion<br />
                <strong>Téléphone:</strong> 03 44 76 41 82<br>
                <strong>E-mail:</strong> patrick.dacquin@hotmail.fr
            </p>
        </div>
    </div>
</div>
{% endblock %}

