{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block page_title %}
    Contact
{% endblock %}

{% block content %}
<div class="row">
    <div class="four columns">
        <h2 class="widget-title">Bernard et Muriel Huguet</h2>
        <p style="text-align:center">
            <img src="{{ asset('bundles/shadowwedding/images/Couple.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p style="text-align: justify;">
                Ce sont les parents du marié. Agriculteurs du fin fond de la marne profonde, leur bonne humeur et leur sens de l'accueil sont cependant très communicatifs !
            </p>
            <p>
                <strong>Adresse</strong>
                31 rue Saint Hilaire,
                51240 Le Fresne<br />
                <strong>Téléphone:</strong> 03 26 67 92 56<br>
                <strong>E-mail:</strong> huguetbernard@hotmail.fr
            </p>
        </div>
    </div>
    <div class="four columns">
        <h2 class="widget-title">Frank et Claire</h2>
        <p style="text-align:center">
            <img src="{{ asset('bundles/shadowwedding/images/Couple.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p style="text-align: justify;">
                Les mariés. Ai-je réellement besoin de les présenter ?
            </p>
            <p>
                <strong>Adresse</strong>
                20 rue Tristan Bernard,
                78340 Les Clayes sous Bois<br />
                <strong>Téléphone:</strong> 06 30 23 16 21<br>
                <strong>E-mail:</strong> frank.huguet@gadz.org
            </p>
        </div>
    </div>
    <div class="four columns">
        <h2 class="widget-title">Patrick et Françoise Dacquin</h2>
        <p style="text-align:center">
            <img src="{{ asset('bundles/shadowwedding/images/Couple.png') }}" alt="" />
        </p>
        <div class="text-block contact-info">
            <p style="text-align: justify;">
                Ce sont les parents de la mariée.
            </p>
            <p>
                <strong>Adresse</strong>
                18 rue Daniel Capitaine,
                60150 Le Plessis Brion<br />
                <strong>Téléphone:</strong> 03 44 76 41 82<br>
                <strong>E-mail:</strong> ?
            </p>
        </div>
    </div>
</div>
{% endblock %}

