{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="four columns">
        <img src="{{ asset('bundles/shadowwedding/images/frank_claire.png') }}" alt="" />
    </div>
    <div class="eight columns">
        <div class="text-block">
            <h2 class="widget-title">Bienvenue sur le site internet de notre mariage</h2>
            <p class="justify handwritten">
                Nous avons rassemblé ici toutes les informations utiles pour le jour J : le 27 juin 2015!<br />
                Vous trouverez sur ce site le planning de la journée, les adresses à connaître ainsi que nos contacts en cas de besoin.<br />
                Nous espérons que votre visite sur ce site vous permettra d’organiser votre venue sereinement.
            </p>
            <p class="right handwritten">Claire & Frank</p>
        </div>
    </div>
</div>
{% endblock %}

{% block page_title %}Les mariés{% endblock %}
