{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        {{ google_map(map) }}
    </div>
</div>
{% endblock %}

{% block page_title %}Infos pratiques{% endblock %}
