{% extends 'ShadowWeddingBundle::layout.html.twig' %}

{% block page_title %}Le Jour J{% endblock %}

{% block content %}
    <div class="row">
        <div class="four columns"></div>
        <div class="four columns">
            <h2 class="center" style="font-size: 250%;">Samedi 27 Juin</h2>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row vcenter-row">
        <div class="four columns">
            <img src="{{ asset('bundles/shadowwedding/images/program/mairie.png') }}" alt="" />
        </div>
        <div class="four columns">
            <p class="handwritten center">
                16h00: Mariage à la Mairie de Le Plessis Brion
            </p>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row vcenter-row">
        <div class="four columns"></div>
        <div class="four columns">
            <p class="handwritten center">
                16h30: Cérémonie religieuse à l’église de Le Plessis Brion
            </p>
        </div>
        <div class="four columns">
            <img src="{{ asset('bundles/shadowwedding/images/program/eglise.png') }}" alt="" />
        </div>
    </div>
    <div class="row vcenter-row">
        <div class="four columns">
            <img src="{{ asset('bundles/shadowwedding/images/program/thermes.png') }}" alt="" />
        </div>
        <div class="four columns">
            <p class="handwritten center">
                18h00: Vin d’honneur servi au Domaine des Thermes de Pierrefonds
            </p>
            <p class="handwritten center">
                20h00: Un repas sera servi aux convives invités
            </p>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row" style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #a4938b;">
        <div class="four columns"></div>
        <div class="four columns">
            <h2 class="center" style="font-size: 250%;">Dimanche 28 Juin</h2>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="four columns"></div>
        <div class="four columns">
            <p class="handwritten center">
                11h30: Un brunch sera servi au Domaine des Thermes de Pierrefonds
            </p>
        </div>
        <div class="four columns"></div>
    </div>
{% endblock %}

