<footer id="footer">
    <!-- FOOTER SIDEBAR -->
    <div id="outerfootersidebar">
        <div class="container">
            <div id="footersidebar" class="row">

                <div id="footcol1"  class="three columns">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">About Us</h2>
                            <h4 class="font-std">Consectetur adipisicing elit sed do eiusmod Incididunt</h4>

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Incididunt ut labore et dolore magna aliqua.  Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                            Cum sociis natoque. penatibus et magnis dis
                        </li>
                    </ul>
                </div>
                <div id="footcol2"  class="three columns">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">Categories</h2>
                            <ul class="p-left">
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Engagement Rings</a></li>
                                <li><a href="#">Wedding Decoration</a></li>
                                <li><a href="#">Wedding Cakes</a></li>
                                <li><a href="#">Shoes</a></li>
                                <li><a href="#">Flowers</a></li>
                            </ul>
                            <ul class="p-right">
                                <li><a href="#">Flowers</a></li>
                                <li><a href="#">Food And Drink</a></li>
                                <li><a href="#">Stationery</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Gift</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="footcol3"  class="three columns">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">Contact info</h2>
                            <div class="contact-info">
                                <strong>Our Location:</strong><br/>
                                3569 Miami Road,<br/>
                                LA, M09 77R<br/>
                                <strong>Phone:</strong> +1 800 325 2564<br/>
                                <strong>Fax:</strong> +1 800 325 2564<br/>
                                <strong>Email:</strong> mail@sweetly.com<br/>
                                <strong>Website:</strong> www.sweetly.com
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="footcol4"  class="three columns">
                    <ul>
                        <li class="widget-container widget_slide">
                            <h3 class="widget-title">Testimonials</h3>
                            <div id="testiitems" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="testi-item">
                                            <div class="quote">" Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                                Fusce suscipit varius mi. Cum sociis natoque. "</div>
                                            <div class="testi-user">Paul Black, Manager</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testi-item">
                                            <div class="quote">" Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                                                Fusce suscipit varius mi. Cum sociis natoque. "</div>
                                            <div class="testi-user">Jane Smith, CEO - Company</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- END FOOTER SIDEBAR -->

    <!-- COPYRIGHT -->
    <div id="outercopyright">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <div id="copyright-wrap">
                        <div id="copyright">
                            Copyright &copy; 2013-2014 Sweetly. Designed by	<a href="http://templatesquare.com" title="">TemplateSquare.Com</a>
                        </div>
                        <ul class="sn">
                            <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
                            <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
                            <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
                            <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->
</footer>
<div class="clear"></div>

