<!-- HEADER -->
<div id="outerheader">
    <div id="headercontainer">
        <div class="container">
            <header id="top">
                <div id="logo">
                    <div id="logoimg">
                        <a href="{{ path('homepage') }}" title="Mariage Frank et Claire" ><img src="{{ asset('bundles/shadowwedding/images/logo.png') }}" alt="" /></a>
                    </div>
                </div>
                <section id="navigation">
                    <nav id="nav-wrap">
                        {{ knp_menu_render('ShadowWeddingBundle:Builder:mainMenu') }}
                        <div class="clear"></div>
                    </nav><!-- nav -->
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- END HEADER -->

<!-- AFTERHEADER -->
<div id="outerafterheader">
    <div class="container">
        <div class="row">
            <div id="afterheader" class="twelve columns">
                <div id="trapezoid">
                    <h1 class="pagetitle">{% block page_title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="header-line"></div>
</div>
<!-- END AFTERHEADER -->