<!-- HEADER -->
<div id="outerheader">
    <div id="headercontainer">
        <div class="container">
            <header id="top">
                <div id="logo">
                    <div id="logoimg">
                        <a href="{{ path('homepage') }}" title="Mariage Frank et Claire" ><img src="{{ asset('bundles/shadowwedding/images/logo.png') }}" alt="" /></a>
                    </div>
                </div>
                <section id="navigation">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a>
                                <ul>
                                    <li><a href="#">Only</a></li>
                                    <li><a href="#">Example of</a></li>
                                    <li><a href="#">The Dropdown</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="gallery.html">Gallery</a> </li>
                            <li class="current"><a href="quote.html">Quote</a> </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- topnav -->
                        <div class="clear"></div>
                    </nav><!-- nav -->
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- END HEADER -->

<!-- AFTERHEADER -->
<div id="outerafterheader">
    <div class="container">
        <div class="row">
            <div id="afterheader" class="twelve columns">
                <div id="trapezoid">
                    <h1 class="pagetitle">{% block page_title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="header-line"></div>
</div>
<!-- END AFTERHEADER -->